POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

KEYCLOAK_SERVER_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
MANAGER_KEY=
MASTER_KEY=

TOSS_CLIENT_KEY=
TOSS_SECRET_KEY=
SLACK_WEBHOOK_URL=
SLACK_BOT_TOKEN=
GEMINI_API_KEY=
