# Postgres 설정
POSTGRES_DB=
POSTGRES_DB_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=

# 외부 SaaS 설정
TOSS_CLIENT_KEY=
TOSS_SECRET_KEY=
SLACK_WEBHOOK_URL=
SLACK_BOT_TOKEN=
FALLBACK_SLACK_ID=
FALLBACK_NOTIFICATION_ALLOW=
GEMINI_API_KEY=

# Keycloak 설정
KEYCLOAK_SERVER_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_ISSUER_URI=

# Keycloak DB
KC_DB=
KC_DB_URL=
KC_DB_USERNAME=
KC_DB_PASSWORD=
KC_HOSTNAME_STRICT=
KC_HTTP_ENABLED=

# master, manager key
MASTER_KEY=
MANAGER_KEY=

# Langfuse v2 (LLM 트레이싱)
LANGFUSE_NEXTAUTH_SECRET=
LANGFUSE_SALT=
LANGFUSE_AUTH_HEADER=
