<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <springProperty name="APP_NAME" source="spring.application.name" defaultValue="unknown"/>

  <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
    <http>
      <url>${LOKI_URL:-http://localhost:3100}/loki/api/v1/push</url>
    </http>
    <format>
      <label>
        <pattern>service=${APP_NAME},host=${HOSTNAME:-local}</pattern>
      </label>
      <message class="com.github.loki4j.logback.JsonLayout"/>
    </format>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="LOKI"/>
  </root>

  <logger name="com.bankrupang" level="DEBUG"/>
</configuration>
